nav {
	height: 50px; 
	line-height: 50px;
	background-color: #289B1B !important;
}

#logo {
	width: 50px;
	margin-left: 10px;
  margin-top: 5px;
}

#bar {
	height: 42px;
	width: 2.4px;
	margin-left: 15px;
  margin-top: 10px;
}

#travel-piece {
  font-family: "Lora", serif !important;
}

#travel-piece {
	font-size: 22px;
	margin-left: 15px;
  margin-right: 15px;
}

#sections {
	margin-left: 15px;
}

a.navlink:link, a.navlink:visited, a.navlink:hover, a.navlink:active
{
   color: white;
   text-decoration: none;
}

.left {
  font-family: 'Lato', sans-serif;
}

.op-headline-day1 {
    font-family: 'Abril Fatface', serif;
  position:relative;
  font-size: 4.5em;
  color: black;
}
.article-header{
  height:100vh;
  width: 100vw;
  margin-top:-64px;
  background-image: url("../img/keyvis.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  z-index: 1000;
  position: relative;
}

.smallpicright {
  width: 300px;
  float: right;
}

.smallpicleft {
  width: 300px;
  float: left;
  padding-right: 20px;
}


.op1link {
  font-family: 'Lora', serif;
  font-style: italic;
  font-weight: bold;
}

.article-header2 {
  height:100vh;
  width: 100vw;
  margin-top:-64px;
  background-image: url("../img/11.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  position: relative;
}

.headline-section{
  margin: 2em;
  position:absolute;
  bottom:0;
  text-align: left;
}

.headline-section .headline{
  font-family: 'Abril Fatface', serif;
  position:relative;
  font-size: 4.5em;
  color: white;
}

.section-identifier{
  font-family: 'Karla', serif;
  width: auto;
  font-size: 1.25em;
  color: white;
}

.section-identifier-opday1{
  font-family: 'Karla', serif;
  width: auto;
  font-size: 1.25em;
  color: black;
}

.article-post, #blurb{
  margin:1em auto;
  text-align: left;
  max-width: 800px;
  padding: 0px 15px;
}

#blurb {
  padding-top: 64px;
}

.article-post p{
  font-family: 'Lora', serif;
  font-size: 1.2em;
  line-height: 2;
}

.paragraph-title{
  font-family: 'Lora', serif;
  line-height: 2;
  font-size:2em;
  font-weight: 700;
  text-align: left;
}

.video-refer{
  width: 300px;
  float: right;
  display: inline-block;
  border: 2px solid lightskyblue;
  padding: 5px;
  margin-left: 1em;
  margin-bottom: 1em;
  transition: all 1s ease-in-out;
  cursor: pointer;
}

.video-poster{
  display: block;
  opacity:1;
  transition: opacity 1s linear;
}

/*.video-refer:hover{
  width: 100%;
}*/

.video-refer .title{
  font-family: 'Karla', serif;
  font-size: 1.25em;;
}

.video-refer .video-title{
  font-family: 'Abril Fatface', serif;
  font-size: 1.25em;
}

.video-refer .video-desc{
  font-family: 'Karla', sans-serif;
}

body{
  overflow-x: hidden;
}

#player{
  position:absolute;
  top:0;
  display: block;
  left: 0;
  
}

#higher1, #taking1, #stirring1, #op-headline1-day1-1 {
  padding-top: 64px;
}

.player-container{
  position:relative;
  height: auto;
  margin: 0px -5px;
}

.materialboxed {
  max-width: 100%;
}