nav {
	height: 50px; 
	line-height: 50px;
	background-color: #289B1B !important;
}

#logo {
	width: 50px;
	margin-left: 10px;
  margin-top: 5px;
}

#bar {
	height: 42px;
	width: 2.4px;
	margin-left: 15px;
  margin-top: 10px;
}

#travel-piece {
	font-size: 22px;
	margin-left: 15px;
	font-family: 'Lato';
}

#sections {
	margin-left: 15px;
}

a.navlink:link, a.navlink:visited, a.navlink:hover, a.navlink:active
{
   color: white;
   text-decoration: none;
}

.article-content{

}

.article-header{
  height:75vh;
  width: 100vw;
  margin-top:-64px;
  background-color: red;
  z-index: 1000;
  position: relative;
}

.headline-section{
  margin: 2em;
  position:absolute;
  bottom:0;
  text-align: left;
}

.headline-section .headline{
  font-family: 'Abril Fatface', serif;
  position:relative;
  font-size: 4.5em;
  color: white;
}

.section-identifier{
  font-family: 'Karla', serif;
  width: auto;
  font-size: 1.25em;
  color: white;
}

.article-post{
  margin:1em auto;
  text-align: left;
  max-width: 600px;
  padding: 0px 15px;
}

.article-post p{
  font-family: 'Lora', serif;
  font-size: 1.2em;
  line-height: 2;
}

.paragraph-title{
  font-family: 'Lora', serif;
  line-height: 2;
  font-size:2em;
  font-weight: 700;
  text-align: left;

}