body {
  background-image: url('splash.jpg');
  
  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;
  
  /* Background image doesn't tile */
  background-repeat: no-repeat;
  
  /* Background image is fixed in the viewport so that it doesn't move when 
     the content's height is greater than the image's height */
  background-attachment: fixed;
  
  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;
  
  /* Set a background color that will be displayed
     while the background image is loading */
  background-color: #464646;
}

#content {
  margin-left: 3vh;
  margin-right: 3vh;
  margin-top: 3vh;
  background-color: rgba(0, 0, 0, .7);
}

#infotext {
  font-family: 'Lora', serif;
  color: white;
  text-align: center;
  padding-top: 40vh;
  padding-bottom: 15vh;
}

i {
    border: solid lightgrey;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 20px;
}

i:hover {
  border: solid white;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 20px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

#arrow {
  padding-top: 20vh;
}

#section1 {
  color: white;
}

