.day {
  font-size: 400%;
  font-weight: bold;
  font-family: Lato;
  text-align: center;
}
.landingimage {
  float: left;
  width: 300px;
  padding-left: 5%;
  padding-top: 10px;
  padding-bottom: 10px;
}
.landingtext {
  font-family: Lato;
  width: 90%;
  padding-left: 35%;
  vertical-align: baseline;
  text-align: left;
}
.landingsection {
  font-family: Lato;
  font-size: 125%;
}
li {
  padding-top: 10px;
  padding-bottom: 10px;
}
