body {
  margin: 0px;
  overflow-x: hidden;
}

a {
  color: #4f73af;
  text-decoration: none;
  transition: all 0.5s ease;

}

a:hover {
  text-decoration: none;
  color: #4f73af;
}
.days {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-size: 5vh;
}

.rule {
  background-color: #4f73af !important;
  color: #4f73af !important;
  margin-bottom: 30px;
  border: none;
  height: 5px;
}

#infotext {
  text-align: center;
  height: 100vh;
  padding-top: 40vh;
}

i {
    border: solid lightgrey;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 20px;
}

i:hover {
  border: solid white;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 20px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

#arrow {
  padding-top: 20vh;
}

#section1 {
  max-width: 800px;
  margin: 1em auto;
}

.day {
  font-size: 400%;
  font-weight: bold;
  font-family: Lato;
  text-align: center;
}

.landingimage {
  float: left;
  width: 300px;
}


#parallax-container{
  height: 800px;
  width: 100vw;
  position: relative;
  display: block;
  background-color: black;
}

#content-container{
  margin: 90px 1em;
  margin-bottom: 1em;
  height: auto;
}

.layer0{
  background-image: url('../img/layer0.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 10;
  width: 100%;
  height: 100%;
  position:absolute;
  top:0;
  left: 0;
  transform: scale(1.1);
}

.layer1{
  background-image: url('../img/layer1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: auto;
  z-index: 11;
  position:absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(1.2);
}

.layer2{
  background-image: url('../img/layer2.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: auto;
  z-index: 12;
  position:absolute;
  top:0;
  width: 100%;
  height: 100%;
  left: 0;
  transform: scale(1.2);
}

.layer3{
  background-image: url('../img/layer3.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  z-index: 13;
  position:absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(1.2);
}

#mobile-header{
  display: none;
  height: 100vh;
  background-image: url('../img/mobile-header.jpg');
  background-size:cover;
  background-position: center;
}

.link-image{
  height: 220px;
  width: 100%;
  background-size: cover;
  margin-bottom: 1em;
}

.cards{
  overflow: auto;
}

.link-text{
    font-family: 'Lora', serif;
}

.link-title{
  font-family: 'Abril Fatface', serif;
  font-size: 2em;
}

.link-card{
  display: block;
  width: 48%;
  margin-bottom: 1em;
  border-top: 0px #4f73af solid;
  transition: all 0.5s ease;
}

.link-card .read-more{
  font-family: 'Montserrat', sans-serif;
}

.link-card:hover{
  border-top: 20px #4f73af solid;
}

.link-card.left{
  float: left;
}

.link-card.right{
  float: right;
}

#sub{
  font-family: 'Montserrat', serif;
  font-size: 1em;
  width: 100%;
  z-index: 1001;
}

#parallax-text{
  font-family: 'Abril Fatface', serif;
  position: absolute;
  top:0;
  text-align: center;
  color: white;
  width: 100%;
  z-index: 1001;
  text-shadow: 0px 0px black;
  
}

#main{
  z-index: 1001;
  width: 100%;
  font-size: 4em;
}

.footer{
  height: 50px;
  background-color:#4f73af;
  display: block;
}

.coming-soon{
  font-family: 'Abril Fatface', serif;
  font-size: 2em;
  text-align: center;
}

@media only screen and (max-width: 768px) {
	#parallax-container {
		display: none;
	}
  #mobile-header{
    display: block;
    margin-top: 0px;
  }
  .link-image{
    max-width: 100%;
    width: 100%;
    height: 350px;
  }
  #content-container{
  margin: 0px 1em;
  }

  .link-card{
    width: 100%;
    border-bottom: 3px #4f73af solid;
    padding-bottom: 1em;
  }


}

